@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-semibold tracking-wide lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight lg:text-4xl;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight lg:text-3xl;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight lg:text-2xl;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight lg:text-xl;
  }

  h6 {
    @apply scroll-m-20 font-semibold tracking-tight lg:text-lg;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-7xl mx-auto;
  }

  .padding-x {
    @apply px-5 sm:px-7 md:px-14 lg:px-20;
  }
}
